*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* background-image: url(img/kimberly-farmer-lUaaKCUANVI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color:hsla(172,57%,39%,1);
background-image:
radial-gradient(at 93% 91%, hsla(208,75%,68%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 33% 96%, hsla(279,85%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(210,100%,70%,1) 0px, transparent 50%);
    
}

.login-block{
    margin: auto;
    background-color: #264653ab;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    max-height: 90vh;
    height: 53vh;
    width: 80vw;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 1em;
    box-shadow: 0 0 17px 5.5px #2a9d8f;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 40%;
    margin-left: 15%;
    justify-content: space-around;
}

.Question{
    display: flex;
    justify-content: space-around;
}

.Question a{
    text-decoration: none;
    color: #8cd7ce;
}
.Question a:hover{
    text-decoration: underline;
    transition: text-decoration 1s;
    transition-timing-function: ease-in;
    color: #2a9d8f;
}

.form-item{
   width: 100%;
   border: none;
   border-bottom: 2px solid #2a9d8f;
   border-radius: 0.5em;
   height: 2rem;
   text-align: center;
}

.form-item::placeholder{
    color: #2a9d8f;
    text-align: center;
    font-size: 1rem;
}
.form-item:hover, .form-item:active, .form-item:focus{
    outline:2px solid #2a9d8f;
    cursor: pointer;
    font-weight: 400;
}

.form-btn{
  height: 2.5em;
  width: 40%;
  background: #8cd7ce;
  border-radius: 0.5em ;
  color: white;
  font-size: 1em;
  font-weight:400;
  border: none;
}
.form-btn:hover{
  cursor: pointer;
  background: #9deee4;
}

.user-img,h1{
    color: #2a9d8f;
}

h1{
    font-size: 2.5rem;
}

.pass{
    position: relative;
}

span{
    position: absolute;
    margin: 0.25em;
    right: 3%;
}

@media (min-width:720px){
    .login-block{
        max-width: 50vw;
    }
}




